<!doctype html>
<html ng-app="overlayApp">
<head>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/socket.io-client/socket.io.js"></script>
    <script src="control.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div ng-controller="ControlController as data" class=control_panel>
    <select ng-model="data.interviewPerson">
        <option ng-repeat="option in data.persons" value="{{option._id}}">{{option.name}} // {{option.title}}</option>
    </select>
    <div>
        <button ng-click="data.emit('interview', data.interviewPerson)">Interview</button>
    </div>
    <div>
        <button ng-click="data.emit('casters')">Casters</button>
    </div>
</div>

</body>
</html>
