<!doctype html>
<html ng-app="overlayApp">
<head>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/socket.io-client/socket.io.js"></script>
    <script src="code.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div ng-controller="IntervieweeController as data">
    <button ng-click="data.enter()">push</button>
    <div ng-class="{out: !data.in, in: data.in}" class="interviewee">
        <div class=name>{{data.interviewee.name}}</div>
        <div class=title>{{data.interviewee.title}}</div>
        <img class=logo src=/img/duck2.png />
    </div>
</div>
<div ng-controller="CasterController as data">
    <button ng-click="data.enter()">push</button>
    <div ng-class="{out: !data.in, in: data.in}" class="caster">
        <div class="caster1">
            <span>{{data.caster1.name}}</span>
            <span>{{data.caster1.nick}}</span>
            <span>{{data.caster1.tag}}</span>
        </div>
        <div class="caster2">
            <span>{{data.caster2.name}}</span>
            <span>{{data.caster2.nick}}</span>
            <span>{{data.caster2.tag}}</span>
        </div>
    </div>
</div>
</body>
</html>
