
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    overflow: hidden;
}

.interviewee {
    position: absolute;
    bottom: 10%;
    right: 10%;
    transition: right 2s, opacity 3s;
    width: 40%;
    height: 10%;
    color: #CCDDDD;

    opacity: 1;

    padding-top: 20px;

    padding-left: 50px;

    /*background-image: url('/img/duck.png');*/

    background: -moz-linear-gradient(-45deg, rgba(206,4,4,0.5) 0%, rgba(205,5,5,0.5) 1%, rgba(198,12,12,0.7) 11%, rgba(178,30,30,1) 40%, rgba(175,33,33,1) 44%, rgba(234,46,46,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(206,4,4,0.5) 0%,rgba(205,5,5,0.5) 1%,rgba(198,12,12,0.7) 11%,rgba(178,30,30,1) 40%,rgba(175,33,33,1) 44%,rgba(234,46,46,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(206,4,4,0.5) 0%,rgba(205,5,5,0.5) 1%,rgba(198,12,12,0.7) 11%,rgba(178,30,30,1) 40%,rgba(175,33,33,1) 44%,rgba(234,46,46,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ce0404', endColorstr='#ea2e2e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */<Paste>

}

.interviewee .name {
   font-size: 200%;
   margin-bottom: 10px;
}

.interviewee .title {
    padding-left: 20px;
}

.interviewee .logo {
   position: absolute;
   right: 100px;
   top: -110%;
   height: 200%;
}

.interviewee.out {
    right: -20%;
    opacity: 0;
}

.caster {
    position: absolute;
    bottom: 10%;
    width: 100%;
    transition: bottom 1s;
}
.caster .caster1 {
    position: absolute;
    right: 15%;
}
.caster .caster2 {
    position: absolute;
    left: 15%;
}

.caster.out {
    bottom: -40%;
}
