.interviewee {
    position: absolute;
    bottom: 10%;
    right: 10%;
    transition: right 2s;
}
.interviewee.out {
    right: -20%;
}

.caster {
    position: absolute;
    bottom: 10%;
    width: 100%;
    transition: bottom 1s;
}
.caster .caster1 {
    position: absolute;
    right: 15%;
}
.caster .caster2 {
    position: absolute;
    left: 15%;
}

.caster.out {
    bottom: -40%;
}
